h1 {
    text-decoration:underline;
}
/* Basic color to header elements */
h2, h3 {
    color:coral
}

/* color to emphasize */
.emphasize {
    color:rgb(110, 47, 10); 
}

section.unfinished {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
    justify-content: center;
}

section.newbusiness {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* color to attendee list */
li#attendee1 {
    color:rgb(148, 39, 39);
    max-height:50em;
    height:2em;
    max-width:5em;
}

li#attendee2 {
    color:hsl(180, 50%, 50%);
    max-width:10em;
}

li#attendee3 {
    color:green;
    max-width:15em;
}

input#lettera {
    position: relative;
    right: 5px;
}

input#letterb {
    position: absolute;
    left: 50px;
}

button:hover {
    color: blue;
}

button:active {
    color:red;
}

* {
    color:rgb(126, 0, 0)
}


a[href="#agenda"] {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    color:blue;
}

a[href="#unfinished"] {
    margin: 12px;
    color: blue;
}

a[href="#newbusiness"] {
    margin:1%;
    color: blue;
}

.unfinished .meme {
    border-style:solid;
    border-color:crimson;
    border-width:2px;
    border-radius:10px;
    height:15em;
    width:50em;
}

header > ol > li {
    border-style:dotted;
    border-left: 0px;
    border-right: 0px;
    padding: 0.2em;
}

p ~ p {
    display: inline-block;
}

ul > li {
    display: block
}

span ~ p {
    text-align:center;
}

section.newbusiness > p + p {
    grid-column-start:1;
    grid-row-start:1;
    font-family: 'Dancing Script', cursive;
}

section.newbusiness > p {
    grid-column-start:2;
}

@media all and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}